:root{
  --palegold: #DCC48E;
  --eggshell: #EAEFD3;
  --ashgrey: #B3C0A4;
  --independence: #505168;
  --gunmetal: #27233A;
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  color: #f8f8f8;
  background: linear-gradient(to bottom, var(--gunmetal) 0%,var(--independence) 50%,var(--gunmetal) 100%);  
}
button, .create-account-btn a {
  background: linear-gradient(to bottom, var(--independence) 0%,#828c95 36%,var(--independence) 100%);
  border-radius: 50px;
  color: #f8f8f8;
  border-color: var(--gunmetal);
  padding: 8px;
}
h1 { 
  color: #ffffff; 
  font-family: 'Raleway', sans-serif; 
  font-size: 62px; 
  font-weight: 800; 
  line-height: 72px; 
  margin: 0 0 24px; 
  text-align: center; 
  text-transform: uppercase;
}
h2 { 
  color: #ffffff; 
  font-family: 'Raleway', sans-serif; 
  font-size: 30px; 
  font-weight: 800; 
  line-height: 36px; 
  margin: 0 0 24px; 
  text-align: center; 
}
p { 
  color: #f8f8f8; 
  font-family: 'Raleway', sans-serif; 
  font-size: 16px; 
  font-weight: 500; 
  line-height: 32px; 
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; 
}
a { 
  color: #c8c8c8; 
  text-decoration: underline; 
}
a:hover { 
  color: #1c1c1c; 
  text-decoration: underline; 
}
/*p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
} */
.welcome-title{
  padding-top: 25px;
}
.hidden{
  display: none;
}
a:-webkit-any-link {
  /* color: black; */
  cursor: pointer;
  text-decoration: none;
}
.link{
  color:-webkit-link!important;
  text-decoration: underline!important;
}
.logout-btn{
  margin: 5px 5px 0 0;
}

.flag{
  width:50px;
  display: inline-block;
}
.login-form{
  border-radius:20px;
  border: black solid 1px;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  padding:30px
}
label, input {
  margin-bottom: 20px;
}
.login-form legend{
  font-size: 25px;
  margin-bottom: 20px;
}
.top-header{
  margin-left: 1em;
  text-align: left;
  position: relative;
}
.top-header h3, .count{
  display: inline-block;
}
.top-header button{
  position: absolute;
  text-align: right;
  right: 1em;
  top: 1.2em;
}

.landing-text{
  max-width: 450px;
  margin: auto;
}

.dashboard{
  text-align: center;
  /* border: red solid 1px; */
}
.component{
  display: inline-block;
  border: solid black 1px;
  width: 320px;
  height: 320px;
  text-align: center;  
  margin: auto;
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.instruction-btn, .count{
  display: inline-block;
  /* border: solid black 1px; */
  width: 320px;
  height: 40px;
  text-align: center;  
  margin: auto 0;
}
.answer-component{
  position: relative;
}
.answer-form{
  padding-top: 50px;
}
.user-input{
  margin: auto;
  display: block;
  font-size: 20px; 
  margin-bottom: 40px;
  margin-top:40px;
}
.question{
  margin-top: 50px;
  margin-bottom: 20px;
}
.question-img img{
  max-width: 320px;
}
.instructions{
  border: black solid 1px;
  width: 60%;
  margin: auto;
}
.instruction-list li{
  list-style-type: none;
  text-align: justify;
  padding: 5px;
}
.progress{
  display: inline-block;
  margin-right: 10px;
}
.explanation{
  line-height: 16px;
}
.next-btn{
  position: absolute;
  bottom: 10px;
  left: 135px;
}
.back-btn{
  margin-bottom: 24px;
}
.create-account-btn{
  margin-top:15px;
}

@media screen and (max-width: 470px){
  h1 { 
    font-size: 50px; 
    font-weight: 800; 
    line-height: 60px; 
  }
}
@media screen and (max-width: 380px){
  h1 { 
    font-size: 42px; 
    font-weight: 800; 
    line-height: 50px; 
  }
}