*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
}
h1{
  text-align: center;
  padding-bottom: .5em;
}
p{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.welcome-title{
  padding-top: 25px;
}
.hidden{
  display: none;
}
a:-webkit-any-link {
  /* color: black; */
  cursor: pointer;
  text-decoration: none;
}
.link{
  color:-webkit-link!important;
  text-decoration: underline!important;
}
.logout-btn{
  margin: 5px 5px 0 0;
}

.flag{
  width:50px;
  display: inline-block;
}
.login-form{
  border-radius:20px;
  border: black solid 1px;
  width: 300px;
  margin: 0 auto;
  margin-top: 80px;
  padding:30px
}
label, input {
  margin-bottom: 20px;
}
.login-form legend{
  font-size: 25px;
  margin-bottom: 20px;
}
.top-header{
  margin-left: 1em;
  text-align: left;
  position: relative;
}
.top-header h3, .count{
  display: inline-block;
}
.top-header button{
  position: absolute;
  text-align: right;
  right: 1em;
  top: 1.2em;
}
.dashboard{
  text-align: center;
  /* border: red solid 1px; */
}
.component{
  display: inline-block;
  border: solid black 1px;
  width: 320px;
  height: 320px;
  text-align: center;  
  margin: auto;
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.instruction-btn, .count{
  display: inline-block;
  /* border: solid black 1px; */
  width: 320px;
  height: 40px;
  text-align: center;  
  margin: auto 0;
}
.answer-form{
  padding-top: 50px;
}
.user-input{
  margin: auto;
  display: block;
  font-size: 20px; 
  margin-bottom: 40px;
  margin-top:40px;
}
.question{
  margin-top: 50px;
  margin-bottom: 20px;
}
.question-img img{
  max-width: 320px;
}